.dbs-container {
  background-image: url(/upload/3rd-party/de-bredeste-skuldre/images/cover-5.jpg);
  background-size: cover;
  padding-bottom: 20px;
}

.dbs-header {
  font-size: 64px;
  padding: 10px 20px 0 20px;
  margin: 0;
}

.dbs-desc {
  padding: 0 20px 9px 20px;
  font-size: 24px !important;
  line-height: 30px !important;
}

.dbs-form-item {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 9px 20px;
  margin: 9px 0;
}

.dbs-form-item label {
  font-family: b-sans-r;
  font-size: 19px;
  font-weight: normal;
  padding-bottom: 3px;
}

.dbs-form-item input {
  width: 35px;
  border: 1px solid #ccc;
  box-shadow: none;
  padding: 3px 7px;
  color: #000;
}

.dbs-em p {
  font-size: 13px;
  margin: 0;
}

.dbs-submit {
  font-size: 36px;
  font-family: b-sans-eb;
  padding: 7px 17px;
  background-color: rgba(255,255,255,0.8);
  border: none;
  border-radius: 6px;
  margin: 10px 20px;
  cursor: pointer;
}

.dbs-result {
  padding: 9px 20px;
}

.dbs-result p {
  font-size: 19px;
}

.dbs-error {
  margin: 0 !important;
  color: #fff;
}

.dbs-facebook {
  display: inline-block;
  margin-bottom: 15px;
  background-color: rgb(76, 102, 164);
  padding: 3px 8px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-weight: 600;
}

.dbs-result-header {
  font-family: b-serif-eb !important;
  font-size: 45px !important;
  line-height: 52px !important;
}

.dbs-higlight {
  font-size: 24px !important;
  line-height: 28px !important;
}

.dbs-higlight b {
  font-size: 27px !important;
}

.dbs-small {
  font-size: 15px !important;
}

#p1 img {
  float: left;
  margin-right: 15px;
  width: 150px;
}

#p1 b, #p2 b {
  font-family: b-sans-eb;
  font-size: 20px;
}

#graf {
  height: 100px;
}

#labels {
  height: 30px;
}

.float-wrap {
  width: 100%;
}
.part {
  float: left;
  height: 100px;
  text-align: left;
}
.labelpart {
  float: left;
  width: 8px;
  height: 20px;
}
.colorr0 {
  background-color: #990033
}
.colorr1 {
  background-color: #a02625;
}
.colorr2 {
  background-color: #ac3426;
}
.colorr3 {
  background-color: #b94326;
}
.colorr4 {
  background-color: #c45325;
}
.colorr5 {
  background-color: #d16322;
}
.colorr6 {
  background-color: #de7218;
}
.colorr7 {
  background-color: #eb840d;
}
.colorr8 {
  background-color: #f79500;
}
.colorr9 {
  background-color: #f89b00;
}
.colorr10 {
  background-color: #f9a300;
}
.colorr11 {
  background-color: #faa901;
}
.colorr12 {
  background-color: #fcb000;
}
.colorr13 {
  background-color: #fbb700;
}
.colorr14 {
  background-color: #fdbf01;
}
.colorr15 {
  background-color: #fec400;
}
.colorr16 {
  background-color: #fcca00;
}
.colorg0 {
  background-color: #01804f;
}
.colorg1 {
  background-color: #038956;
}
.colorg2 {
  background-color: #008d58;
}
.colorg3 {
  background-color: #038f56;
}
.colorg4 {
  background-color: #169355;
}
.colorg5 {
  background-color: #309554;
}
.colorg6 {
  background-color: #4a9954;
}
.colorg7 {
  background-color: #619b53;
}
.colorg8 {
  background-color: #709d4f;
}
.colorg9 {
  background-color: #7ca04d;
}
.colorg10 {
  background-color: #8fa348;
}
.colorg11 {
  background-color: #a1a83e;
}
.colorg12 {
  background-color: #b0ad3a;
}
.colorg13 {
  background-color: #c0b532;
}
.colorg14 {
  background-color: #ceba22;
}
.colorg15 {
  background-color: #dcbf15;
}
.colorg16 {
  background-color: #e9c30c;
}

/* Responsive for mobile (iPhone) */
@media (max-width: 980px) {
  .dbs-header {
    font-size: 66px !important;
    line-height: 65px;
  }

  .dbs-desc {
    font-size: 38px !important;
    line-height: 42px !important;
  }

  .dbs-form-item label {
    font-size: 30px !important;
    line-height: 28px;
  }

  .dbs-form-item select {
    font-size: 32px;
    -webkit-appearance: menulist-button;
    width: 100%;
    margin-top: 10px;
  }

  .dbs-form-item input[type="number"] {
    font-size: 30px;
    width: 80px !important;
  }

  .dbs-submit {
    font-size: 65px !important;
  }

  dbs-em p {
    font-size: 21px !important;
  }
}

@media (max-width: 585px) {
  .dbs-header {
    font-size: 40px !important;
    line-height: 45px;
  }

  .dbs-desc {
    font-size: 28px !important;
    line-height: 32px !important;
  }
}
/* m.b.dk runs 320px */
@media (max-width: 375px) {
  .dbs-header {
    font-size: 33px !important;
    line-height: 36px;
  }

  .dbs-desc {
    font-size: 20px !important;
    line-height: 24px !important;
  }

  .dbs-form-item label {
    font-size: 20px !important;
  }

  .dbs-form-item select {
    font-size: 20px;
  }

  .dbs-form-item input[type="number"] {
    font-size: 20px;
  }

  #p1 img {
    margin-right: 0;
    width: 100%;
  }

  .dbs-result-header {
    font-size: 33px !important;
    line-height: 37px !important;
  }

  .dbs-higlight {
    font-size: 20px !important;
    line-height: 24px !important;
  }

  .dbs-higlight b {
    font-size: 24px !important;
  }

  .dbs-submit {
    font-size: 30px !important;
  }
}
